  /* Basic Css declaration */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
  }

  body {
    line-height: 2.0;
    background: #333;
    color: #fff;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* Header  with hover*/
  header {
    background: #222222b0;
    color: #fff;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 3px 3px 20px #dd0505;
  }

  header h1 {
    font-size: 24px;
    color: #fff;
  }

  nav a {
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    z-index: 200;
    transition: 0.8s;
  }

  nav a:hover {
    color: #dd0505;
  }

  /* Home and Image with animation */
  .profile {
    height: 500px;
    width: 500px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 50%;
    animation: glow 2.5s infinite alternate;
    border: 5px solid #dd0505;
    box-shadow: 8px 9px 50px #dd0505;
  }

  @keyframes glow {
    0% {
      box-shadow: 5px 5px 10px #fff, 8px 8px 20px #fff inset;
      border-color: #fff;
      opacity: 1;
      transform: translateY(-40px);
    }

    100% {
      box-shadow: 7px 7px 40px #dd0505, 7px 7px 80px #dd0505 inset;
      border-color: #dd0505;
      opacity: 3;
      transform: translateY(0px);
    }
  }

  .wrapper {
    padding: 0 15;
    margin: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
  }

  .intro {
    flex: 1;
    animation: spon 2s linear forwards;
  }

  @keyframes spon {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .name {
    color: #fff;
  }

  .col {
    font-size: 30px;
  }

  p {
    line-height: 40px;
  }

  span {
    color: #dd0505;

  }

  /* socialmedia icon and botten with animation*/
  .icon a {
    margin: 6px;
    color: #fff;
    transition: 0.5ms;
    padding: 3px;
    line-height: 75px;

  }

  .fa-youtube {
    font-size: 20px;
    margin: 10px auto;
  }

  .fa-facebook-f {
    font-size: 20px;
    margin: 10px auto;
  }

  .fa-instagram {
    font-size: 20px;
    margin: 10px auto;
  }

  .fa-google {
    font-size: 20px;
    margin: 10px auto;
  }

  .fa-x-twitter {
    font-size: 20px;
    margin: 10px auto;
  }

  .icon a:hover {
    padding: 8px;
    transform: scaleX(1.3);
    cursor: pointer;
    border-radius: 30%;
    transition: 0.9s;
    box-shadow: 5px 5px 20px #dd0505;
    color: #dd0505;
  }

  /* button */
  .work {
    margin-top: 5% auto;
    color: #333;
    background-color: #dd0505;
    height: 50px;
    border: 1px solid #dd0505;
    width: 200px;
    border-radius: 10px;
    box-shadow: 9px 9px 40px black;
  }

  .work:hover {
    background-color: #fff;
    color: #dd0505;
    box-shadow: 7px 7px 30px #dd0505;
    transform: scale(1.1);
    transition: 0.8s;
    cursor: pointer;
  }

  .yt {
    margin: 10px 10px;
  }

  .BT {
    height: 60px;
    width: 60px;
    border-radius: 100%;
  }

  .fa-rotate-right {
    font-size: 20px;
  }

  /* about */
  .img2 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px #dd0505 solid;
    box-shadow: 7px 10px 35px #dd0505;
  }

  .wra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 6% 6%;
    animation: about 2s linear forwards;
  }

  @keyframes about {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .about {
    flex: 2;
    text-align: center;
    margin: 5% 5%;
    padding: 8px 5px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #222;

  }

  .about:hover {
    box-shadow: 10px 10px 40px #dd0505;
    transition: 0.8s;
  }

  .about h1 {
    color: #dd0505;
  }

  /* Skills with animation */
  .skillhead {
    text-align: center;
  }

  .skillogo {
    margin: 10px;
    padding: 20px auto;
  }

  .skill {
    justify-content: space-around;
    align-items: center;
    width: 700px;
    margin: 10px auto;
    background-color: #222;
    border: 1px solid #222;
    box-shadow: 5px 5px 30px #0f0f0fe8;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    animation: skill 2s linear forwards;
  }

  @keyframes skill {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .skill li {
    padding: 10px auto;
    list-style: none;
    margin: 10px 0;
  }

  .bar {
    height: 25px;
    display: block;
    background-color: #333;
    border: 1px solid #333;
    overflow: hidden;
    color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #222;
  }

  /* hover animation section */
  .fa-python {
    color: #dd0505;
    font-size: 55px;
  }

  .fa-java {
    color: #dd0505;
    font-size: 55px;
  }

  .fa-html5 {
    color: #dd0505;
    font-size: 55px;
  }

  .fa-css3 {
    color: #dd0505;
    font-size: 55px;
  }

  .fa-square-js {
    color: #dd0505;
    font-size: 55px;
  }

  .fa-react {
    color: #dd0505;
    font-size: 55px;
  }

  .skill:hover {
    box-shadow: 5px 7px 40px #dd0505;
    transition: 0.8s;
  }

  .bar:hover {
    transition: 0.8s;
    box-shadow: 6px 6px 40px #dd0505;
  }

  .bar span {
    height: 25px;
    float: left;
    background: #dd0505;
  }

  .python {
    width: 90%;
    animation: python 3.5s linear;
  }

  .java {
    width: 80%;
    animation: java 3.5s linear;
  }

  .html {
    width: 79%;
    animation: html 3.5s linear;
  }

  .css {
    width: 75%;
    animation: css 3.5s linear;
  }

  .javascript {
    width: 65%;
    animation: javascript 3.5s linear;
  }

  .react {
    width: 80%;
    animation: react 3.5s linear;
  }

  @keyframes python {
    0% {
      width: 0%;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes java {
    0% {
      width: 0%;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes html {
    0% {
      width: 0%;
    }

    100% {
      width: 79%;
    }
  }

  @keyframes css {
    0% {
      width: 0%;
    }

    100% {
      width: 75%;
    }
  }

  @keyframes javascript {
    0% {
      width: 0%;
    }

    100% {
      width: 65%;
    }
  }

  @keyframes react {
    0% {
      width: 0%;
    }

    100% {
      width: 80%;
    }
  }

  /* Bio-data  witha animation and hover effects*/
  .bio-head {
    color: #dd0505;
    font-size: x-large;
    text-align: center;
    position: relative;
    margin: 40px auto;
    background-color: #222;
    border-radius:20px ;
    width: 300px;
    box-shadow: 5px 5px 10px #dd0505;

  }

  .time-line {
    width: 1000px;
    margin: 100px auto;
    position: relative;
  }

  .bio-container {
    width: 50%;
    position: relative;
    padding: 10px 20px;
    border-radius: 20px;
    animation: bio 2s linear forwards;
  }

  .bio-container:nth-child(even) {
    right: -50%;
  }

  .text-content {
    padding: 10px 20px;
    background-color: #222;
    border-radius: 10px;
    display: grid;
    box-shadow: 5px 5px 10px black;
  }

  .text-content h1 {
    font-size: 25px;
    color: #dd0505;
  }

  .text-content p {
    padding: 10px auto;
    margin-top: 10px;
    font-size: 20px;
  }

  /* animation and hover section */
  .time-line::after {
    content: "";
    position: absolute;
    height: 100%;
    right: 50%;
    width: 7px;
    background: linear-gradient(red, #9b1212, #c91212);
    border-radius: 50px;
    top: 0;
    animation: lineanimation 10s linear forwards;
    z-index: -1;
  }

  @keyframes lineanimation {
    0% {
      height: 0;
    
    }

    100% {
      height: 100%;
    }
  }

  .bio-container:nth-child(even)::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(red, #9b1212, #dd0505);
    top: 0;
    left: -13px;
    border-radius: 50%;
    z-index: 10;
  }

  .bio-container:nth-child(odd)::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: linear-gradient(red, #9b1212, #dd0505);
    top: 0;
    right: -7px;
    border-radius: 50%;
    z-index: 10;
  }

  @keyframes bio {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .bio-container:hover {
    box-shadow: 10px 10px 50px #dd0505;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
  }


  /* Projects with hover animation*/
  .try {
    animation: project 2s linear forwards;
  }

  @keyframes project {
    0% {
      opacity: 0;
      transform: translate(-40px);
    }

    100% {
      opacity: 1;
      transform: translate(0px);
    }

  }

  .hed {
    justify-content: space-around;
    align-items: center;
    color: #dd0505;
    place-items: center;
    font-size: larger;
    margin: 100px auto;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .card {
    height: 20rem;
    width: 20rem;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    border: 2px #333 solid;
    box-shadow: 3px 3px 15px #222;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 19px;
  }

  .card img {
    position: absolute;
    height: 20rem;
    width: 20rem;
  }

  .data {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    background-color: #333333b4;
    transition: 1s;
  }

  .data h1 {
    min-height: 40px;
    color: #dd0505;
  }

  .data p {
    max-height: 0px;
    overflow: hidden;
    line-height: 25px;
    transition: 1s;
    margin-top: 10px;
  }

  /* Hover section */
  .card:hover .data {
    bottom: 0;
  }

  .card:hover .data p {
    max-height: 120px;
  }

  .card:hover {
    box-shadow: 10px 18px 50px #dd0505;
    transform: scale(1.1);
    transition: 1s;
  }

  /* Contact with hover animation*/
  .contain {
    margin-top: 15%;
    animation: contact 2s linear forwards;
  }

  @keyframes contact {
    0% {
      opacity: 0;
      transform: translate(-50px);
    }

    100% {
      opacity: 1;
      transform: translate(0px);
    }
  }

  .conhead {
    text-align: center;
    color: #dd0505;
  }

  form {
    background-color: black;
    width: 600px;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 15px auto;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 6px 8px 35px black;
    animation: ani 2.5s linear infinite alternate;
  }

  .input-grp {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
  }

  .input-grp label {
    color: #dd0505;
    font-size: 21px;
  }

  .input-grp input {
    padding: 18px;
    border-radius: 15px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 8px 8px 30px #333;
    border: 1px solid #333;
    outline: 0;
  }

  .input-grp textarea {
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 8px 8px 30px #333;
    border: 1px solid #333;
    overflow: hidden;
    outline: 0;
  }

  form .button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: #222;
    border: 2px solid #dd0505;
    background-color: #dd0505;
    box-shadow: 6px 8px 30px #222;
    cursor: pointer;
    margin-top: 10px;
  }

  .input-grp input:hover {
    box-shadow: 10px 10px 40px #dd0505;
    transition: 0.8s;
    transform: scale(1.1);
  }

  .input-grp textarea:hover {
    box-shadow: 10px 10px 40px #dd0505;
    transition: 0.8s;
    transform: scale(1.1);
  }

  form .button:hover {
    box-shadow: 10px 10px 40px #dd0505;
    background-color: #fff;
    color: #dd0505;
    transition: 0.8s;
    transform: scale(1.1);
  }

  #response {
    margin: 20px;
    color: red;
    font-size: 20px;
  }

  @keyframes ani {
    0% {
      box-shadow: 6px 8px 35px black;
      border: 1px solid black;
    }

    100% {
      box-shadow: 10px 10px 40px #dd0505;
      border: 1px solid #dd0505;
    }
  }

  /* Footer */
  .copy {
    background-color: #222;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
    box-shadow: 3px 3px 20px #dd0505;

  }
